

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-5 text-white mb-3" style="text-shadow: 1px 1px 2px #ffffff; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Moving Tips</h1>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Moving Tips</li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Moving Tips Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-4 fs-2 fw-light" style="text-shadow: 1px 1px 2px #000000;">Packing and Moving Tips.</h1>
                 
                    <h5 class="mb-5" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">By following these tips, you can help ensure a successful and stress-free move with <br><b style="color: #FEA116; font-size: 24px;">Shree Siddhivinayak Packer and Movers</b> </h5>
                </div>
                <div class="row g-4">
                    <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div id="horizontalTab">
                            <ul class="resp-tabs-list ">
                                <li class="fw-bolder text-dark ">Plan Ahead</li>
                                <li class="fw-bolder text-dark">Declutter & organize</li>
                                <li class="fw-bolder text-dark">Label your Boxes</li>
                                <li class="fw-bolder text-dark">Pack Smart</li>
                                <li class="fw-bolder text-dark">Communicate with your Movers</li>
                                <li class="fw-bolder text-dark">Keep Important Items with You</li>
                                <li class="fw-bolder text-dark">Prepare your new home</li>
                            </ul>
                            <div class="resp-tabs-container">
                                <div>
                                    <p>Start planning your move well in advance, so you have enough time to research and
                                        choose a reputable moving company, and to organize and prepare for your move.
                                    </p>
                                </div>
                                <div>
                                    <p>Before you start packing, take the time to Organize and get rid of any items you
                                        no longer need or want. This will help you save time and money on packing and
                                        moving unnecessary items.</p>
                                </div>
                                <div>
                                    <p>Make sure to label your boxes with the contents and the room they belong in. This
                                        will make it easier for the movers to unload and unpack your items.</p>
                                </div>
                                <div>
                                    <p> Use proper packing materials, such as bubble wrap, packing paper, and sturdy
                                        boxes. Pack fragile items separately and label them as fragile. Make sure to
                                        fill any empty spaces in boxes with packing material to prevent items from
                                        shifting during transport.</p>
                                </div>
                                <div>
                                    <p>Be clear about your expectations and communicate any special instructions or
                                        concerns with your movers. This will help ensure a smooth and efficient move.
                                    </p>
                                </div>
                                <div>
                                    <p> Pack important documents, valuables, and essentials separately and keep them
                                        with you during the move. This will ensure that they are easily accessible and
                                        safe.</p>
                                </div>
                                <div>
                                    <p>Make sure to clean and prepare your new home before the movers arrive. This will
                                        make it easier for them to unload and unpack your items.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/team-3.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/team-4.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/team-2.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/team-3.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/team-4.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="img/team-1.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Moving Tips End -->


        <!--Estimate  Start -->
        <div class="container-xxl py-5 px-0">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{% static 'img/estimate.webp' %}" alt="estimate.webp" class="img-fluid" width="800" height="525">
                </div>
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">

                        <h1 class="text-white mb-3 fs-2 fw-light">Get a Free Quote/Estimate</h1>
                        <form >
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="from" placeholder="Moving Form" required>
                                        <label for="from">Moving From</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="to" placeholder="Moving To" required>
                                        <label for="to">Moving To</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control datepicker-input" id="datetime"
                                            placeholder="Date & Time" data-target="#date3"
                                            data-toggle="datetimepicker" required />
                                        <label for="datetime">Date & Time</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="select1" required>
                                            <option value="1">Choose</option>
                                            <option value="1">1 BHK</option>
                                            <option value="2">2 BHK</option>
                                            <option value="3">3 BHK</option>
                                        </select>
                                        <label for="select1">Select Moving Size</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Full Name" required>
                                        <label for="Full Name">Full Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="number" placeholder="Mobile Number" required>
                                        <label for="number">Mobile Number</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-color w-100 py-2" type="submit">Get Free Moving Quote
                                        Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Estimate Start -->
    </div>
{% endblock %}