{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-5 text-white mb-3" style="text-shadow: 1px 1px 2px #ffffff; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Services</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


       <!-- Service 1 Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center">
                    <h1 class="mb-5 fs-2 fw-light" style="text-shadow: 1px 1px 2px #000000;">Services We Provide</h1>
                </div>
                <div class="row g-4 mb-2">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/Packing-And-Moving.webp' %}" class="card-img-top img-fluid"
                                        alt="Packing-And-Moving.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >Packing and Moving</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/household-shifting-service.webp' %}" class="card-img-top img-fluid"
                                        alt="household-shifting-service.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Household Shifting</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/office-relocation.webp' %}" class="card-img-top img-fluid"
                                        alt="office-relocation.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Office Relocation</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row g-4 mb-2">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/Packing-Unpacking-Services.webp' %}" class="card-img-top img-fluid"
                                        alt="Packing-Unpacking-Services.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Packing and Unpacking</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/commercial-relocation.webp' %}" class="card-img-top img-fluid"
                                        alt="commercial-relocation.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Commercial Relocation</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/loading-unloading-services.webp' %}" class="card-img-top img-fluid"
                                        alt="loading-unloading-services.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Loading and Unloading</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row g-4 mb-2">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/domestic-internation-service.webp' %}" class="card-img-top img-fluid"
                                        alt="domestic-internation-service.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Domestic & International Moving</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/car-service.webp' %}" class="card-img-top img-fluid"
                                        alt="car-service.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Car Transportation</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <div class="card">
                                    <img src="{% static 'img/bike-transport-services.webp' %}" class="card-img-top img-fluid"
                                        alt="bike-transport-services.webp" width="600" height="400">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bike Transportation</h5>
                                        <p class="card-text" >Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--service 1 End -->
    </div>

    {% endblock %}