
{% extends 'base.html' %}
{% load static %}

{% block content %}
   
   <div class="container-xxl bg-white p-0">
    
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
        
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-5 text-white mb-3" style="text-shadow: 1px 1px 2px #ffffff; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Work Gallery</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
        
                            <li class="breadcrumb-item text-white active" aria-current="page">Work Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


          <!-- Work Gellery Start -->
          <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center">
                   
                    <h1 class="mb-2" style="text-shadow: 1px 1px 2px #000000; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Our Work Gallery</h1>
                    <h6 class="mb-4">"Our work gallery tells the story of our commitment to providing reliable and <br> high-quality moving services of Shree Siddhivinayak Packer and Movers. See yourself why our clients trust us."

                    </h6>
                </div>
                <div class="row g-4 mb-2">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img18.webp' %}" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img2.webp' %}" alt="">
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img9.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img4.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="row g-4 mb-2">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img11.webp' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img6.webp' %}" alt="">
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img12.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img8.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="row g-4 mb-2">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img17.webp' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img20.webp' %}" alt="">
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img19.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img1.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="row g-4 mb-2">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img16.webp' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img15.webp' %}" alt="">
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img14.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid img-thumbnail" src="{% static 'img/img5.webp' %}" alt="">
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Work Gellery End -->
    
    </div>

    {% endblock %}